<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Led Banner Twitch Tool</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa%20Slab%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black%20Ops%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee%20Shade">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coda">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Codystar">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courier%20Prime">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Creepster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing%20Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Faster%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Flavors">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka%20the%20Great">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie%20Flower">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina%20Shadow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum%20Pen%20Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nosifer">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Notable">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent%20Marker">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pirata%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press%20Start%202P">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rampart%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik%20Moonrocks">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Silkscreen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan%20One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla%20Slab%20Highlight">
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  </head>
  <body>
    <div id="placeholder" class="banner-container"></div>
  </body>
</html>
